* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: rgb(154, 194, 247);
}


.button,
h1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-style{
    transition: transform 0.3s ease-in-out;
}

.button-style:hover {
    transform: scale(1.05);
  }

p {
    display: flex;
    justify-content: center;
}

.container {
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    margin-top: 3rem;
}

.mobile_container {
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .5rem;
    margin-top: 3rem;
    padding: 0 1rem 0 1rem
}

.card {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.card.wrong {
    background-color: rgb(255, 0, 0);
}

.card.correct {
    background-color: rgb(0, 255, 157);
}