* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: rgb(154, 194, 247);
    display: flex;
    justify-content: center;
}


.button, h1{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container {
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    margin-top: 3rem;
}
.mobile_container {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .5rem;
    margin-top: 3rem;
}

.card {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.card.wrong{
background-color: rgb(255, 0, 0);
}

.card.correct{
background-color: rgb(0, 255, 157);
}
